.MainContain {
  width: 1200px;
  margin: 80px auto;
  .ProfileContain {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

    .ProfileData {
      grid-column-start: 2;
      grid-column-end: 5;
      text-align: center;
      margin-top: 50px;
      padding-bottom: 30px;
      border-bottom: rgb(163, 163, 163) 2px solid;
      .avatar {
        margin-bottom: 10px;
        .avatarImg {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          margin-bottom: 10px;
        }
      }
      .userDisplayName {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
  }
  .eventsContain {
    margin: 20px auto;
    text-align: center;
    width: 80%;
    .buttons {
      border: rgb(46, 46, 46) 1.5px solid;
      border-radius: 0.25rem;
      display: inline-block;
      padding: 3px;
      .button {
        font-weight: 600;
        &:focus {
          box-shadow: none;
        }
      }
    }
    .events {
      display: none;
      text-align: start;
      margin-top: 20px;
      .eventContain {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
        .event {
          width: 44%;
          margin: 3%;
          padding: 20px;
          background-color: #cedbdbbd;
          border-radius: 5px;
          box-shadow: rgba(149, 157, 165, 0.2) 10px 20px 30px;
          .eventMembers {
            display: flex;
            flex-wrap: wrap;
            .memberBtns {
              margin-left: 10px;
              .memberBtn {
                cursor: pointer;
              }
              &:hover {
                color: #e63946;
              }
            }
            .memberBG {
              display: none;
              position: fixed;
              top: 0;
              left: 0;
              width: 100vw;
              height: 100vh;
              background: rgba(0, 0, 0, 0.5);
              z-index: 100;

              .memberDataOut {
                background-color: #f3f3f3;
                border-radius: 10px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 35%;
                h3 {
                  padding-bottom: 15px;
                  border-bottom: 0.5px solid gray;
                }
                .memberDataContain {
                  margin: 30px 30px 0 30px;
                  .memberDatas:not(:last-child) {
                    border-bottom: rgb(163, 163, 163) 1px solid;
                    .memberData {
                      p {
                        margin: 1rem 0;
                      }
                    }
                  }
                  .btns {
                    display: flex;
                    justify-content: center;
                    height: 40px;
                  }
                }
              }
            }
            .showMemberDatas {
              display: flex;
            }
          }
          .eventStatusBtns {
            display: flex;
            justify-content: center;
            .eventStatusBtn {
              font-weight: 600;
              border-radius: 5px;
              padding: 0.375rem 0.75rem;
            }
          }
          &:hover {
            background-color: rgb(222, 235, 222);
          }
        }
      }
    }
    .showUp {
      display: flex;
    }
  }
}
