@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 415px) {
    @content;
  }
}
h2,
h3,
p {
  font-weight: 600;
}

.eventFormBG {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;

  .eventFormOut {
    background-color: #f3f3f3;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
    overflow: auto;
    .eventForm {
      margin: 30px;
      h3 {
        margin-bottom: 15px;
        padding-left: 15px;
        padding-bottom: 10px;
        border-bottom: 0.5px solid gray;
        @include mobile {
          font-size: 1.25rem;
        }
      }
    }
    .btns {
      text-align: center;
      button {
        margin-top: 10px;
      }
    }
    @include mobile {
      width: 80%;
    }
  }
}
.showUp {
  display: block;
}

.joinFormBG {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;

  .joinFormOut {
    background-color: #f3f3f3;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .joinForm {
      margin: 30px;
      h3 {
        margin-bottom: 15px;
        padding-left: 15px;
        padding-bottom: 10px;
        border-bottom: 0.5px solid gray;
        @include mobile {
          font-size: 1.25rem;
        }
      }
    }
    .btns {
      text-align: center;
      button {
        margin-top: 10px;
      }
    }
    @include mobile {
      width: 80%;
    }
  }
}
.showUp {
  display: block;
}
.startDateNav {
  width: 100%;
}
.startDate {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.Form {
  text-align: center;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .containerLeft {
    width: 38%;
    height: 88vh;
    margin-right: 2%;
    margin-top: 85px;

    .eventHostBG {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .eventHost {
        display: block;
        width: 45%;
        padding: 10px;
        border: #a8dadc 2px solid;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: rgba(149, 157, 165, 0.2) 10px 20px 30px;
        .ifBeHost {
          display: flex;
          flex-wrap: wrap;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          .ifBeHostImg {
            width: 50px;
            height: 50px;
            background-image: url('../../images/raiseHand.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin-right: 10px;
            @include pad {
              width: 100%;
            }
          }
          .ifBeHostText {
            text-align: center;
            @include pad {
              font-size: 1.5rem;
            }
            @include mobile {
              font-size: 1rem;
            }
          }
        }
        @include pad {
          line-height: 0rem;
        }
      }
      .lightUp {
        background-color: #add8e6;
      }
      .eventJoin {
        margin-left: 10px;
        display: block;
        width: 45%;
        padding: 10px;
        background-color: #ffffff;
        border: #a8dadc 2px solid;
        border-radius: 5px;
        box-shadow: rgba(149, 157, 165, 0.2) 10px 20px 30px;
        .ifBeMember {
          display: flex;
          flex-wrap: wrap;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          .ifBeMemberImg {
            width: 50px;
            height: 50px;
            background-image: url('../../images/highFive.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin-right: 10px;
            @include pad {
              width: 100%;
            }
          }
          .ifBeMemberText {
            text-align: center;
            @include pad {
              font-size: 1.5rem;
            }
            @include mobile {
              font-size: 1rem;
            }
          }
        }
        @include pad {
          line-height: 0rem;
        }
      }
      .lightUp {
        background-color: #add8e6;
      }
      .eventStep1 {
        margin-top: 30px;
        padding: 10px;
        width: 92%;
        display: none;
        background-color: #eaf4f7;
        border-radius: 5px;
        box-shadow: rgba(149, 157, 165, 0.2) 10px 20px 30px;
        h3 {
          font-size: 1.5rem;
          line-height: 2rem;
          @include pad {
            font-size: 1.1rem;
            line-height: 1.25rem;
            margin: 0px;
          }
          @include mobile {
            font-size: 1rem;
            line-height: 0.8rem;
          }
        }
        @include pad {
          margin-top: 10px;
        }
        @include mobile {
          margin-top: 5px;
        }
      }
      .showUp {
        display: block;
      }
      .eventStep2 {
        width: 92%;
        display: none;
        margin-top: 30px;
        padding: 10px;
        background-color: #eaf4f7;
        border-radius: 5px;
        box-shadow: rgba(149, 157, 165, 0.2) 10px 20px 30px;
        h3 {
          font-size: 1.2rem;
          line-height: 1.2rem;
          @include pad {
            font-size: 1.1rem;
            line-height: 1.1rem;
            margin: 0px;
          }
          @include mobile {
            font-size: 1rem;
            line-height: 0.8rem;
          }
        }

        .eventInfo {
          margin-top: 20px;
          width: 100%;
          padding: 10px;
          background-color: #d6ecf3;
          border-radius: 5px;
          box-shadow: rgba(149, 157, 165, 0.2) 10px 20px 30px;
        }
        @include pad {
          margin-top: 10px;
        }
        @include mobile {
          margin-top: 5px;
        }
        p {
          @include mobile {
            margin: 5px;
            font-size: 14px;
          }
        }
      }
      .showUp {
        display: block;
      }
    }
    @include pad {
      width: 100%;
      height: 65%;
      margin: 85px 2% 10px 2%;
    }
  }
  .containerRight {
    width: 50%;
    height: 80vh;
    margin-top: 80px;

    h2 {
      display: flex;
      justify-content: center;
      @include mobile {
        font-size: 1.5rem;
      }
    }

    .mapContain {
      height: 100%;
    }
    @include pad {
      width: 100%;
      height: 65vh;
      margin: 20px 2% 10px 2%;
    }
    @include mobile {
      margin: 5px 2% 10px 2%;
    }
  }
}
.infoText {
  font-size: 1.2rem;
  margin: 0;
}
.startTime {
  color: red;
}
