body {
  font-family: 'Noto Sans TC', '微軟正黑體', '新細明體', arial, sans-serif;
  color: #3f3a3a;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  font-weight: 600;
}
