.eventFormBG {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;

  .eventForm {
    background-color: #fff9c3;
    width: 50vw;
    height: 75vh;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  button {
    margin-top: 10px;
  }
}

.Form {
  text-align: center;
}
.joinForm {
  display: none;
}
.container {
  // margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;

  .containerLeft {
    // width: 30%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr 5fr 1fr;
    margin-right: 30px;

    .eventIcon {
      background-color: #cbcfbd;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    .eventInfo {
      margin-top: 20px;
      background-color: #f1faee;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }
  .containerRight {
    // width: 60%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr 5fr 1fr;

    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .mapContain {
      grid-row-start: 2;
      grid-row-end: 4;
    }
  }
}
