* {
  font-weight: 600;
}

.landing {
  width: 100vw;
  min-height: 100vh;
  background-image: url('./../images/cleanBeach1-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0rem 5rem;
  display: flex;
  justify-content: center;
  .bigText {
    font-weight: 600;
    margin-top: 250px;
    // top: 30%;
    // left: 50%;
    // margin-left: -331px;
    font-size: 3rem;
  }
}
.mainBG1 {
  width: 100vw;
  height: 850px;
  background-color: rgba(255, 255, 255, 0.6);
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px;
  .motive {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .title {
      width: 100%;
      height: 30%;
      display: flex;
      align-items: center;

      h2 {
        width: 60%;
        text-align: center;
        border-bottom: 2px #8d8d8d solid;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        padding-bottom: 10px;
        margin: 0 auto;
      }
    }
    .subTitle {
      text-align: center;
    }
    p {
      width: 75%;
      font-size: 20px;
      font-weight: 600;
    }
    .boxes {
      width: 100%;
      height: 70%;
      position: relative;
      display: flex;
      justify-content: center;
      .box1 {
        width: 30%;
        height: 70%;
        margin: 20px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
          rgba(17, 17, 26, 0.1) 0px 16px 56px;
        transition: all ease-in-out 0.5s;
        .img {
          width: 100%;
          min-height: 100%;
          display: block;
          background-image: url('./../images/beach.jpg');
          background-size: cover;
          background-repeat: no-repeat;
        }
        .box1Word1 {
          position: absolute;
          bottom: 30px;
          left: 30px;
          color: #fff;
          transition: all ease-in-out 0.5s;
          font-family: 'Noto Sans', sans-serif;
          font-size: 1.5rem;
        }
        .box1Word2 {
          position: absolute;
          display: none;
          left: 30px;
          right: 30px;
          color: #fff;
          font-family: 'Sanchez', serif;
          font-size: 1rem;
        }

        &:hover {
          background-color: rgb(24, 40, 40);
          .img {
            opacity: 0.6;
          }
          .box1Word1 {
            bottom: 40%;
          }
          .box1Word2 {
            display: block;
            animation-name: slide-up;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-delay: 0.2s;
            animation-fill-mode: forwards;
            opacity: 0;
          }
        }
      }
      @keyframes slide-up {
        0% {
          bottom: 0;
          opacity: 0;
        }
        100% {
          bottom: 30%;
          opacity: 1;
        }
      }

      .box2 {
        width: 30%;
        height: 70%;
        margin: 20px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
          rgba(17, 17, 26, 0.1) 0px 16px 56px;
        transition: all ease-in-out 0.5s;
        .img {
          width: 100%;
          min-height: 100%;
          display: block;
          background-image: url('./../images/trash2.jpg');
          background-size: cover;
          background-repeat: no-repeat;
        }
        .box2Word1 {
          position: absolute;
          bottom: 30px;
          left: 36%;
          color: #fff;
          transition: all ease-in-out 0.5s;
          font-family: 'Noto Sans', sans-serif;
          font-size: 1.5rem;
        }
        .box2Word2 {
          position: absolute;
          display: none;
          left: 36%;
          right: 30px;
          color: #fff;
          font-family: 'Sanchez', serif;
          font-size: 1rem;
        }

        &:hover {
          background-color: rgb(24, 40, 40);
          .img {
            opacity: 0.6;
          }
          .box2Word1 {
            bottom: 40%;
          }
          .box2Word2 {
            display: block;
            animation-name: slide-up;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-delay: 0.2s;
            animation-fill-mode: forwards;
            opacity: 0;
          }
        }
      }
      @keyframes slide-up {
        0% {
          bottom: 0;
          opacity: 0;
        }
        100% {
          bottom: 30%;
          opacity: 1;
        }
      }

      .box3 {
        width: 30%;
        height: 70%;
        margin: 20px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
          rgba(17, 17, 26, 0.1) 0px 16px 56px;
        transition: all ease-in-out 0.5s;
        .img {
          width: 100%;
          min-height: 100%;
          display: block;
          background-image: url('./../images/poorCrab.jpg');
          background-size: cover;
          background-repeat: no-repeat;
        }
        .box3Word1 {
          position: absolute;
          bottom: 30px;
          left: 70%;
          color: #fff;
          transition: all ease-in-out 0.5s;
          font-family: 'Noto Sans', sans-serif;
          font-size: 1.5rem;
        }
        .box3Word2 {
          position: absolute;
          display: none;
          left: 70%;
          right: 30px;
          color: #fff;
          font-family: 'Sanchez', serif;
          font-size: 1rem;
        }

        &:hover {
          background-color: rgb(24, 40, 40);
          .img {
            opacity: 0.6;
          }
          .box3Word1 {
            bottom: 40%;
          }
          .box3Word2 {
            display: block;
            animation-name: slide-up;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-delay: 0.2s;
            animation-fill-mode: forwards;
            opacity: 0;
          }
        }
      }
      @keyframes slide-up {
        0% {
          bottom: 0;
          opacity: 0;
        }
        100% {
          bottom: 30%;
          opacity: 1;
        }
      }
    }
  }
}
.mainBG2 {
  width: 100vw;
  height: 1200px;
  background-image: url('./../images/ocean1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .forWhat {
    max-width: 1200px;
    height: 100%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;

    .title {
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      margin-top: 70px;
      color: #d6ecf3;

      h2 {
        width: 60%;
        text-align: center;
        border-bottom: 2px #8d8d8d solid;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        padding-bottom: 10px;
        margin: 0 auto;
      }
    }
    .intro1 {
      width: 100%;
      height: 10%;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      font-size: 1.5rem;
      font-weight: 600;
      color: #e7e7e7;
    }
    .highlight {
      font-size: 1.5rem;
      font-weight: 800;
      color: #fff099;
    }

    .introImgs {
      width: 100%;
      height: 65%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
      justify-content: center;
      .introImg1 {
        width: 20%;
        height: 40%;
        margin: 20px;
        background-image: url('./../images/introImg1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
      }
      .introImg2 {
        width: 20%;
        height: 40%;
        margin: 20px;
        background-image: url('./../images/introImg2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
      }
      .introImg3 {
        width: 20%;
        height: 40%;
        margin: 20px;
        background-image: url('./../images/introImg3.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
      }
      .introImg4 {
        width: 20%;
        height: 40%;
        margin: 20px;
        background-image: url('./../images/introImg4.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
      }
    }
  }
}
.mainBG3 {
  width: 100vw;
  height: 1500px;

  .actionIntro {
    max-width: 1200px;
    height: 100%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;

    .title {
      width: 100%;
      margin-top: 60px;
      display: flex;
      align-items: center;

      h2 {
        width: 60%;
        text-align: center;
        border-bottom: 1px #8d8d8d solid;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        padding-bottom: 10px;
        margin: 0 auto;
      }
    }

    .boxes {
      width: 100%;
      height: 300px;
      display: flex;
      align-items: center;
      font-weight: 600;
      justify-content: center;
      .box1 {
        width: 300px;
        height: 250px;
        margin: 10px 30px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
          rgba(17, 17, 26, 0.1) 0px 16px 56px;
        cursor: pointer;
        background-color: #fff1f1;
        text-align: center;
        align-items: center;
        background-image: url('./../images/equipment.png');
        background-size: contain;
        background-repeat: no-repeat;
        &:hover {
          border: solid 2px rgba(17, 17, 26, 0.1);
        }
      }
      .box2 {
        width: 300px;
        height: 250px;
        margin: 10px 30px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
          rgba(17, 17, 26, 0.1) 0px 16px 56px;
        cursor: pointer;
        background-color: #fff1f1;
        text-align: center;
        align-items: center;
        background-image: url('./../images/safe.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
          border: solid 2px rgba(17, 17, 26, 0.1);
        }
      }
      .box3 {
        width: 300px;
        height: 250px;
        margin: 10px 30px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
          rgba(17, 17, 26, 0.1) 0px 16px 56px;
        cursor: pointer;
        background-color: #fff1f1;
        text-align: center;
        align-items: center;
        background-image: url('./../images/checkMark.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
          border: solid 2px rgba(17, 17, 26, 0.1);
        }
      }
    }
    .actionIntroContent {
      display: flex;
      width: 100%;
      justify-content: center;
      height: 800px;

      .Intro1 {
        width: 100%;
        margin: 30px auto;
        align-items: center;

        .innerIntro {
          width: 100%;
          height: 100%;
          /* border: solid 3px gray; */
          text-align: center;
          font-weight: 600;
          .subTitle {
            font-size: 1.5rem;
          }
          .IntroImg1 {
            width: 100%;
            height: 100%;
            background-image: url('./../images/requipments.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        @keyframes scale-up-hor-center {
          0% {
            transform: scaleX(0.4);
          }
          100% {
            transform: scaleX(1);
          }
        }
      }
      .Intro2 {
        display: none;
        width: 1000px;
        margin: 30px auto;
        align-items: center;
        font-weight: 600;

        .innerIntro {
          width: 100%;
          height: 100%;
          .IntroTitle {
            display: flex;
            flex-wrap: wrap;
            .noticeImg {
              width: 50px;
              height: 50px;
              margin-right: 10px;
              background-image: url('./../images/notice.png');
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
            }
            h3 {
              font-size: 32px;
              font-weight: 700;
              margin-bottom: 30px;
              color: #1d3557;
            }
          }
          p {
            font-size: 28px;
          }
        }
      }
      .Intro3 {
        display: none;
        width: 1000px;
        margin: 30px auto;
        align-items: center;
        .innerIntro {
          width: 100%;
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          .actionStep {
            width: 45%;
            .IntroTitle {
              display: flex;
              flex-wrap: wrap;
              .stepImg {
                width: 50px;
                height: 50px;
                margin-right: 10px;
                background-image: url('./../images/step.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
              }
              h3 {
                font-size: 32px;
                font-weight: 700;
                margin-bottom: 30px;
                color: #1d3557;
              }
            }
            p {
              font-size: 1.2rem;
            }
          }
          .IntroImg3 {
            width: 52%;
            height: 100%;
            background-image: url(./../images/form1.png);
            background-repeat: no-repeat;
            margin-left: 10px;
          }
        }
      }
    }
  }
}
.mainBG4 {
  width: 100vw;
  height: 800px;
  background-image: url('./../images/beach4-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  .actionJoin {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 30px auto;
    // display: flex;
    // flex-wrap: wrap;
    justify-content: center;

    .title {
      width: 100%;
      height: 40%;
      display: flex;
      align-items: center;
      padding-top: 75px;
      h2 {
        width: 60%;
        text-align: center;
        border-bottom: 1px #8d8d8d solid;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        padding-bottom: 10px;
        margin: 0 auto;
      }
    }

    .actionGoBG {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      text-align: center;
      // background-color: white;
      display: flex;
      justify-content: center;

      .actionGo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 45%;
        height: 350px;
        background-color: white;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
          rgba(17, 17, 26, 0.1) 0px 16px 56px;
        border-radius: 5px;
        border: #a8dadc 2px solid;
        font-weight: 600;
        h3 {
          font-weight: 600;
          width: 100%;
        }
        .actionWay1 {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          .beHost {
            width: 50px;
            height: 50px;
            background-image: url('./../images/raiseHand.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 10px;
          }
          .beHostText {
            font-size: 22px;
          }
        }
        .actionWay2 {
          width: 50%;
          display: flex;
          align-items: center;
          // justify-content: center;
          .beMember {
            width: 50px;
            height: 50px;
            background-image: url('./../images/highFive.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 10px 0 25px;
          }
          .beMemberText {
            font-size: 22px;
          }
        }
      }
      .actionStart {
        text-align: center;
        margin: 0 auto;
        .actionStartBtn {
          line-height: 1;
          font-size: 1.2rem;
          font-weight: 600;
          box-sizing: border-box;
          letter-spacing: 1px;
          color: #182828;
        }
        &:after,
        &:before {
          backface-visibility: hidden;
          border: 1px solid rgba(#182828, 0);
          bottom: 0px;
          content: ' ';
          display: block;
          margin: 0 auto;
          position: relative;
          transition: all 280ms ease-in-out;
          width: 0;
          // background-color: #2f4f4f;
        }

        &:hover:after,
        :hover:before {
          backface-visibility: hidden;
          border-color: #182828;
          transition: width 350ms ease-in-out;
          width: 100%;
        }

        &:hover:before {
          bottom: auto;
          top: 0;
          width: 100%;
        }
      }
    }
  }
}
.footer {
  width: 100vw;
  height: 50px;
  background-color: #182828;
  color: #d6ecf3;
  display: flex;
  justify-content: center;
  align-items: center;
}
