@import '~bootstrap/scss/bootstrap';
.header {
  width: 100vw;
  height: 7vh;
  display: grid;
  // grid-template-columns: repeat(10, 1hr);
  align-items: center;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: #6d6e71;
  a {
    color: #6d6e71;
    text-decoration: none;
  }
  .logo {
    grid-column-start: 2;
    grid-column-end: 5;

    .image {
      height: 4vh;
      width: auto;
      background-image: url('./../images/logo6(fix).png');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .motive {
    grid-column-start: 5;
    grid-column-end: 6;
  }
  .actionIntro {
    grid-column-start: 6;
    grid-column-end: 7;
  }
  .startAction {
    grid-column-start: 7;
    grid-column-end: 8;
    a {
      text-decoration: none;
    }
  }
  .hiUser {
    grid-column-start: 9;
    grid-column-end: 10;
    text-decoration: none;
    .userName {
      line-height: 1;
      cursor: pointer;
    }
  }

  .signIn {
    grid-column-start: 10;
    grid-column-end: 11;
    display: flex;
    .profile {
      // grid-column-start: 10;
      // grid-column-end: 11;

      .profileIcon {
        background-image: url('./../images/member.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 4vw;
        height: 3vh;
        margin-right: 5px;
      }
    }
    .signInBtn {
      height: 3vh;
      display: block;
      line-height: 1;
    }

    .signOutBtn {
      height: 3vh;
      display: none;
      line-height: 1;
    }
  }
}
