.MainContain {
  width: 1200px;
  margin: 0 auto;
  .ProfileContain {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

    .ProfileData {
      grid-column-start: 2;
      grid-column-end: 5;
      text-align: center;
      margin-top: 50px;
      padding-bottom: 30px;
      border-bottom: rgb(163, 163, 163) 2px solid;
      .avatar {
        margin-bottom: 10px;
        .avatarImg {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          margin-bottom: 10px;
        }
      }
      .userDisplayName {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
  }
  .eventsContain {
    margin: 20px auto;
    text-align: center;
    width: 80%;
    .buttons {
      border: rgb(46, 46, 46) 1.5px solid;
      border-radius: 0.25rem;
      display: inline-block;
      padding: 3px;
    }
    .events {
      display: flex;
      flex-wrap: wrap;
      text-align: start;
      margin-top: 20px;
    }
    .followEvents {
      display: flex;
      flex-wrap: wrap;
      text-align: start;
      margin-top: 20px;
    }
  }
}
